@charset "utf-8";
@import url("webfonts/DeathStar_VmWB/stylesheet.css");
@import url("webfonts/Galaxus_z8Mow/stylesheet.css");

/* CSS Document */

body {
	
	margin: 0px;
	padding: 0px;
	background-color: black;
	color: antiquewhite;
	font-family:'Segoe', 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', 'Verdana', 'sans-serif';
	
/*** BACKGROUND IMAGES *************/
	
	background: black url("images/rings.jpg") fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#body-index {
	background: black url("images/space-fairy.jpeg") fixed;
	background-position:left top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
        
@keyframes fadeInAnimation {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#body-dictionary {
	background: black url("images/cosmos.jpg") fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

#body-lab {
	background: black url("images/launch.jpg") fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#body-contact {
	background: black url("images/control-room.jpg") fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*** NAVIGATION *************/

nav {
    text-align: center;
    vertical-align: middle;
    background: black;
    border: 0px;
    margin: 0px;
    padding: 20px;
    height: auto;
    width: 100%;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2pt;
	font-family: 'DeathStar VmWB';
	font-weight: lighter;
	-webkit-text-stroke: 0.5px black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

nav a {
	color:darkseagreen;
	-webkit-text-stroke: 0.5px black;
	text-decoration: none;
	max-width: 300px;
	min-width: 200px;
	width: auto;
	flex: 1 1 auto;
	margin: 0px;
}

nav a:active {
	color:transparent;
	padding: 10px;
	background-color: black;
	background-image: url("images/bolt-2-white.jpg");
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	transition: 100ms;
}

nav a:visited {
	color:darkseagreen;
}

nav a:hover {
	color:khaki;
}

/*** MAIN CONTENT *************/

main {
    height: auto;
    padding: 30px;
    margin: 0px auto;
}

p {
	color: antiquewhite;
	text-align: left;
	font-size: 14pt;
	margin: 15px auto;
}

/*** links ***/

main a {
	color:darkseagreen;
	text-decoration: none;
}

a:active {
	color:whitesmoke;
}

a:visited {
	color:darkseagreen;
}

a:hover {
	color:khaki;
}

/*** headings ***/

header {
    text-align: center;
    color:whitesmoke;
    font-family: "DeathStar VmWB", "arial black", sans-serif;
	text-transform: uppercase;
    letter-spacing: 4pt;
    font-size: 20pt;
    text-shadow: -7px 5px 5px salmon;
}

#heading-tag-sizes h1 {
	color: salmon;
}

h2, h3, h4, h5, h6 {
	color:salmon;
}

h2 {
	font-size: 20pt;
	font-family: "DeathStar VmWB";
	letter-spacing: 2pt;
	font-weight: lighter;
	text-transform: uppercase;
	-webkit-text-stroke: 0.5px black;
}

h3 {
	font-size: 18pt;
}

/*** list styling ***/

li {
	font-weight: bold;
	text-align: left;
	padding: 10px;
	color: antiquewhite;
	font-size: 14pt;
}

ul li {
	margin-left: 20px;
}

ul p {
	text-align: left;
}

ol {
	text-align:left;
	margin: 20px 30px;
}
ol li {
	font-weight: normal;
	margin-left: 20px;
	padding-left: 20px;
}

.center-list {
	margin: 10px auto;
	max-width: 400px;
}

/*** main content window box styling ***/

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
	padding: 0px;
	min-width: 500px;
	max-width: 100%;
}

.style-border-g {
	background-image: radial-gradient(rgba(0,0,0,1.0) 22%, rgba(50,81,50,0.4) 99%);
    border: thick ridge darkseagreen;
	border-radius: 100px;
	text-align: center;
	padding: 30px 30px 50px 30px;
	margin: 20px;
	width: 400px;
	max-width: 600px;
	flex: 1 0 auto;
}

.style-border-g h2 {
	padding-left: 35px;
	padding-right: 35px;
}

.style-border-g p{
	margin-left: 30px;
	margin-right: 30px;
	text-align: left;
	text-indent: 0px;
}

/* wider div window used for index + html 101 + dictionary */
.div-mission { 
	min-width: 300px;
	max-width: 800px;
}

/*** list box styling ***/

.attributes-list {
	text-align: left;
	height: 100%;
	height: 400px;
	overflow: auto;
	border-radius: 10px;
	margin: 20px;
	background-color: antiquewhite;
	color: black;
	border: thick inset darkseagreen;
	padding-top: 20px;
}

.attributes-list ul {
}

.attributes-list li {
	color: darksalmon;
}

.attributes-list p {
	color: black;
	margin: 0 30px 20px 0;
	text-align: left;
}

#text-tags {
	height: 900px;
}

#video-tags {
	height: 600px;
}

/*** code example box styling ***/

.code-example {
	text-align: left;
	max-width: 500px;
	min-width: 300px;
	margin: 10px 30px;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	border: medium inset darkseagreen;
	background-color: antiquewhite;
	color: black;
}

.code-example p{
	color: black;
}

.code-example-indent {
	margin-left: 30px;
}

/* frame borders for content boxes within windows */

iframe, img, video {
	border: medium inset darkseagreen;
	border-radius: 10px;
}

.iframe-border {
	border: medium inset darkseagreen;
	border-radius: 10px;
	background-color:antiquewhite;
}

iframe {
	min-width: 350px;
	max-width: 500px;
	width: 100%;
}

/*** CONTROLS PANEL *******************/

.div-manual {
	background-image: radial-gradient(rgba(0,0,0,1.0) 22%, rgba(50,81,50,0.4) 99%);
    border: thick ridge darkseagreen;
	border-radius: 100px;
	text-align: center;
	padding: 10px 30px 50px 30px;
	margin: 20px;
	width: 150px;
	height: 550px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

#manual-header {
	color: salmon;
	*-webkit-text-stroke: 0.5px black;
	text-transform: uppercase; 
	font-family: 'DeathStar VmWB';
	letter-spacing: 2pt;
	font-weight: lighter;
	text-align: center;
	margin: 40px auto;
	margin-bottom: 30px;
}

.manual-buttons {
	margin: 0px auto;
	padding: none;
	border: medium groove darkseagreen;
	border-radius: 10px;
	width: auto;

}

.manual-buttons a {
	display: block;
	width: auto;
	height: 25px;
	margin: 0px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	transition: 0.5s;
	font-family: 'DeathStar VmWB';
	font-size: 14pt;
	letter-spacing: 1pt;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: darkseagreen;
	-webkit-text-stroke: 1.5px black;
	box-shadow: 0px 0px 20px whitesmoke;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	border:thin outset darkseagreen;
}

.manual-buttons a:hover {
	color:whitesmoke;
	-webkit-text-stroke: 1.5px darkseagreen;
	background-color: darkseagreen;
	border:medium ridge whitesmoke;
}


/*** DICTIONARY *************/

#top  {
	text-align: center;
}

#alpha-links, #dictionary {
	margin: 0 auto;
	text-align: center;
}

#alpha-links td {
	border:none;
	padding: 5px;
	min-width: 20px;
	max-width: 30px;
    background-color: black;
	text-align: center;
}

#alpha-links a:hover {
	padding: 10px;
	background-color: khaki;
	color: black;
	font-weight: bold;
}

#dictionary tr {
	height: 40px;
}

#dictionary th {
    background-color: black;
	color: salmon;
	min-width: 30px;
	min-height: 30px;
	empty-cells: hide;
}

#dictionary td {
    padding: 10px 15px;
    background-color: antiquewhite;
    min-width: 50px;
	max-width: 250px;
	border: none;
	color: black;
}

#dictionary a {
	color:midnightblue;
	font-weight: bold;
}

#dictionary a:hover {
	color: goldenrod;
	font-weight: bold;
}

/*** CONTACT MISSION CONTROL *************/

fieldset {
	border: thick groove khaki;
	border-radius: 150px;
	margin: 50px auto;
	padding: 40px;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	color: antiquewhite;
	min-width: 200px;
	max-width: 700px;
}

fieldset legend {
	text-align: center;
}

fieldset p {
	text-align: center;
}

legend {
	color:khaki;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	padding: 10px;
}

label {
	font-size: 14pt;
	text-align: left;
}

.label-purpose label{
	display: block;
	margin: 10px auto;
	width: 130px;
}

.button {
	background-color: khaki;
	color: black;
	font-weight: bolder;
	border: none;
	padding: 10px;
	min-width: 100px;
	border-radius: 50px;
}

.button:hover {
	background-color: darksalmon;
	color: black;
}

.transmit-button {
	width: auto;
	height: auto;
	margin: 33px auto;
	margin-top: 60px;
}

.transmit-button a{
	min-width: auto;
	height: auto;
	margin: 0px auto;
	padding: 22px 33px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'DeathStar VmWB';
	font-size: 14pt;
	letter-spacing: 3pt;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: khaki;
	-webkit-text-stroke: 1.5px black;
	box-shadow: 0px 0px 20px whitesmoke;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.5);
	border:thin outset khaki;
	transition: 2s;
}

.transmit-button a:hover {
	color: whitesmoke;
	-webkit-text-stroke: 1.0px lightsalmon;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	background-color: salmon;
	border:thin outset lightsalmon;
}

/*** 404 ERROR PAGE*************/

#div-404 {
	display: flex;
	flex-direction: block;
	justify-content: center;
	align-items: center;
	padding: 150px;
	min-width: 300px;
	max-width: 800;
	min-height: 300px;
	max-height: 1100;
    border-radius: 360px;
	background-image: radial-gradient(rgba(0,0,0,1.0) 11%, rgba(0,0,0,0) 59%);
    border: none;
}

blockquote p {
	text-align: center;
	font-weight: normal;
	font-size: 16pt;
	color:antiquewhite;
}

/*** SCROLLBAR ************************************/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkseagreen;
}


/*** FOOTER *************/

footer {
	vertical-align: bottom;
    margin: 30px;
	padding: 20px;
	height: 60px;
}

footer p {
	clear: both;
    text-transform: uppercase;
    font-size: medium;
    text-align: center;
	vertical-align: bottom;
}
